body{
    position: relative;
    background:linear-gradient(black 60%,rgb(82, 52, 250));
    color: rgb(109, 106, 106);
    display: flex;
}
.menu:nth-child(1),.menu:nth-child(2),.menu:nth-child(3),.menu:nth-child(4){
    perspective: 400px;
    margin:50px;
    width: 1050px;
    height: 500px;
    background-color:rgb(9, 9, 12);
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 10%;
    border-radius: 5px;
    transform: rotateY(30deg) rotateX(3deg) scale3d(50px,20px,2px);
    transform-style: preserve-3d;
    box-shadow: 10px 5px 60px rgb(41, 40, 43);
    overflow: hidden;
}
button{
    position: relative;
    height: 30px;
    width:100px;
    padding: 10px;
    background-color:rgb(9, 9, 12);
    color:white;
    text-decoration: none;
    border: black;
}
a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: black;
    text-decoration: none;
}
.menu .im {
    position: absolute;
    top: 130px;

    transform: rotateZ(45deg) ;
}
.im{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background: rgb(82, 52, 250);
    filter: drop-shadow(1px 1px 50px blue);
    z-index: 3;
    display: block;
}
.im img{
    top: 40px;
    position: absolute;
    transform: rotateZ(-45deg) ;
    height: 300px;
    right: 0px;
}
.intro{
    position: absolute;
    top: 120px;
    left:10%;
    z-index: 3;
    color: white;
    display:block;
}
.w1{
    color: white;
}
span{
    color: cyan;
    text-shadow: 1px 1px 5px cyan;
}
h2{
    position: relative;
    left:120px;
}
.contact{
    position:absolute;
    top:440px;
    left:70px;
    display:block;
}
.contact a{
    color:cyan;
    text-shadow: 1px 1px 1px cyan;
    border-radius: blue;
    margin-left: 30px;
    text-shadow: 1px 1px 5px cyan;
}
.contact img{
    width: 30px;
    height: 30px;
}

.dc{
    position: absolute;
    background-color: rgb(255, 115, 0);
    box-shadow: 1px 1px 20px rgb(255, 115, 0);
    top:350px;
    height: 30px;
    width: 100px;
    left:150px;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    z-index: 7;
    display:block;
}
.menu:nth-child(1) a:hover,.menu:nth-child(2) a:hover,.menu:nth-child(3) a:hover,.menu:nth-child(4) a:hover{
    color: cyan;
    text-shadow: 1px 1px 5px cyan;
}
.skillset {
    position: absolute;
    top: 150px;
    left:25%;
    z-index: 3;
    color: white;
    display: none;
    background-color: black;
}
.skillset div{
    width:500px;
    box-shadow: 1px 1px 5px cyan;
    text-align: center;
}
.skillset{
    animation: wd 1.5s 0ms ;
    animation-iteration-count: 1;
}
@keyframes wd {
    0%{
        transform: translateX(4000px); 
    }
    100%{
        transform: translateX(0px);
    }
}
#proj{
    position: absolute;
    top: 150px;
    left:25%;
    z-index: 4;
    color: white;
    animation: pr 2s 0ms ;
    text-align: center;
    display: none;
}

@keyframes pr {
    0%{
        transform: translateX(4000px); 
    }
    100%{
        transform: translateX(0px);
    }
}
